* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; 
}

body {
    line-height: 1.5; 
    -webkit-font-smoothing: antialiased; 
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%; 
    display: block;   
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}